@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  background-color: rgba(75, 85, 99, 0.307);
}

::-webkit-scrollbar {
  display: none;
}
